<h1>Transactions</h1>
<h3>Create a new transaction:</h3>
<form onsubmit="handleSubmit()">
    <div class="form-group">
        <label for="senderID">Sender ID</label>
        <input type="text" id="senderID" name="senderID" placeholder="Sender ID" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="receiverID">Receiver ID</label>
        <input type="text" id="receiverID" name="receiverID" placeholder="Receiver ID" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="amount">Amount</label>
        <input type="text" id="amount" name="amount" placeholder="Amount" class="form-control" required />
    </div>
    <button type="submit" id="submitBtn" class="btn btn-primary">Get Details</button>
</form>

<script>
    function handleSubmit() {
        $.ajax({
            url: '/api/bank/transaction/create',
            type: 'post',
            contentType: 'application/json',
            data: {
                senderID: parseInt($('#senderID').val()),
                receiverID: parseInt($('#receiverID').val()),
                amount: $('#amount').val()
            },
            success: function (data, textStatus, jqXHR) {
                //var obj = data;
                //$('#userID').val(obj.userID);
                //$('#balance').val(obj.balance);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown)
            }
        });
    }
</script>